td{
  border:3px solid black;
  padding: 60px;
  font-weight: normal;
  font-size: 150px;
  align-items: center;
}

a {
  margin: 20px;

}
#connect-four{
  background-color: green;
}

#home{
  background-color: gray;
}
table{margin-top: 100px;}
